.header {
  padding-top: 23px;
  padding-bottom: 20px;

  &__container {
    @include flex-all-sb;
  }

  &__nav {
    margin-left: -113px;

    @include minidesk {
      margin-left: 0;
    }

    @include tablet {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 80%;
      height: 100vh;
      padding: 50px;
      overflow-y: auto;
      background-color: var(--color-light);
      z-index: 1000;
      transform: translateX(-150%);
      transition: transform 0.3s ease-in-out;

      &--active {
        transform: none;
      }
    }

    @include mobile {
      padding: 25px;
    }
  }

  &--maim {
    color: var(--color-light);
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.logo {

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 10px;
  }

  @include minidesk {
    max-width: 100px;
  }

  @include tablet {
    max-width: none;
  }
}
