.portfolio {
  position: relative;
  padding-bottom: 96px;
}

.portfolio-tabs-nav {
  @include flex-v-center;
  transform: translateY(-60px);
  margin-bottom: 61px;

  &__item {
    width: calc((100% - (20px * 4)) / 5);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    @include flex-column-center;
    justify-content: center;
    width: 100%;
    min-height: 154px;
    padding: 15px;
    background-color: var(--color-light);
    border-radius: 4px;
    color: var(--color-primary);
    box-shadow:
      0 80px 80px -20px rgba(154, 156, 165, 0.08),
      0 30px 24px -10px rgba(154, 156, 165, 0.05),
      0 12px 10px -6px rgba(154, 156, 165, 0.04),
      0 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &--active {
      color: var(--color-light);
      background-color: var(--color-primary);
      pointer-events: none;

      .portfolio-tabs-nav__text {
        color: var(--color-light);
      }
    }
  }

  &__icon {
    display: block;
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    color: inherit;
    fill: currentColor;
    object-fit: cover;
    pointer-events: none;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #9a9ca5;
    transition: color 0.3s ease-in-out;
    pointer-events: none;
  }
}

.portfolio-tabs {

  &__item {
    display: none;
    grid-column: 4 span;

    &--visible {
      display: block;
    }

    &--visible-more {
      display: block !important;
    }
  }
}

.portfolio-more {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-top: 61px;
  color: var(--color-gray);
  transition: color 0.3s ease-in-out;

  svg {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    color: inherit;
    fill: currentColor;
    object-fit: cover;
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-active);
  }
}

.portfolio-tabs-nav__btn {

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    .portfolio-tabs-nav__text {
      color: var(--color-ebony);
    }
  }
}
