<section class="partners partners--about">
  <div class="container">
    <h2 class="title partners__title title--center">Our partners</h2>
    <p class="descr descr--center">We are supported by 12+ industry bodies and media partners</p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="Partners Logo">
        </a>
      </li>
      
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="Partners Logo">
        </a>
      </li>
      
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="Partners Logo">
        </a>
      </li>
      
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="Partners Logo">
        </a>
      </li>
      
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="Partners Logo">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="Partners Logo">
        </a>
      </li>
    </ul>
  </div>
</section> 